.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(56, 58, 82);
  color: white
}

.navBar{
  display:flex;
  margin: auto;
  justify-content: center;
}

h1{
  padding: 15px;
  background-color:#DEE3FF;
  margin: 13px;
  border-radius:15px;

}
a{
  text-decoration: none;
  color:black;
}

a:hover{
  color:white;
  transition: 0.3s;
}

h1:hover{
  color:white;
  background-color:#2D3779;
  transition: 0.3s;
}

/* See details/Add comment - section */
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border:none;
  padding: 10px 10px 15px 10px;
  margin: 0px 5px;
  border-radius: 7px;
  color: white;
  background-color: #8594E8;
/*   box-shadow:inset 0 -0.8em 0 -0.4em rgba(0,0,0,0.50); */
    box-shadow:inset 0 -7px 0 0 rgba(0,0,0,0.50);
}

.delete{
  background-color: #DC4533;
}

button:hover{
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  padding: 10px 10px 10px 10px;
  box-shadow:inset 0 -3px 0 0 rgba(0,0,0,0.50);
  transition: 0.2s;
}

button:active{
  color: black;
}

input{
  border: 2px solid #DEE3FF ;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

textarea{
  border-radius: 20px;
  padding: 10px;
  margin: 15px;
  border: 1px solid #DEE3FF ;
  background-image: linear-gradient(to right, #F1FAFF,#DEE3FF);
}

.container-grid{
  display: flex;
  margin: 5px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
form{
  color: white;
}
.game-content{
  color: white;
}
.game-card{
  float: right;
  margin: 5%;
  background-color: pink;
  border-radius: 10px;
}

/* https://www.w3schools.com/css/css3_shadows_box.asp */
.game-card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.42), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
  transition: 0.3s;
}

.rendered-poster{
height: 400px;
width: 250px;
border-radius: 10px;
}